.obj  {
    border: black 1px solid;
    width: 70px;
    height: 70px;
}

.gamebox    {
    display: flex;
}

.gamebox_center  {
    display:flex;
    flex-direction: column;
    justify-content: center;
}

